extends ../layouts/app

block content
    //- pre= JSON.stringify(property, undefined, 2)
    div.py-5
        .text-4xl.my-10.font-extrabold.text-center= property.title

        div 
            a(href="#" class="font-bold text-gray-600 text-sm") Category:  
                span.font-normal= property.category.name

        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3")

            div(class="md:w-1/3")
                